body {
/*  padding: 50px;*/
	padding: 0;
	margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #CCC;
  overflow-y: visible;
  min-width: 700px;
}

a, .klink {
  color: #00A7FF;
  cursor:pointer;
}

#headerC{
	width: auto;
/*	padding: 10px 1%;*/
	margin: 0;
	font-size: 30px;
	color: white;
	text-align: center;
}

#headerC > div{
	border-bottom: 1px black dashed;
	padding: 0.5% 0;
}

.row-first{
	float: left;
	width: 3%;
	font-size: 1.5em;
	padding: 0 5% 0 1%;
	border-right: black 1px dashed;
}

.row-middle{
	float: left;
/*	width: 12%;*/
	font-size: 1.2em;
	padding: 0 0 0 1%;
}

.row-last{
	float: right;
	font-size: 1.2em;
	padding: 0 1%;
}

.clear{
	clear: both;
}

/*http://www.w3.org/TR/selectors/#structural-pseudos*/
#headerC > div:nth-child(1){
	background-color: #F00;
}

#headerC > div:nth-child(2){
	background-color: #0F0;
}

#headerC > div:nth-child(3){
	background-color: #00F;
}

#headerC > div:nth-child(4){
	background-color: #999;
}

#headerC > div:nth-child(5){
	background-color: #333;
}

#flash{
	background-color: #CFC;
	border: solid 1px #6C6;
	border-image: initial;
	padding: 0;
	margin: 0;
	float: left;
	width: 99.5%;
	text-align: center;
}

#contentC{
	padding: 20px;
	font-size: 1.5em;
}
