<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>gamewiser-GiantBomb API Explorer // </title>
    <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
    <section>
        <header>
            <div id="headerC">
                <div>ROOT</div>
                <div>Platforms</div>
            </div>
            <div id="flash">feedback!</div>
    <!--         <h1>{% block title %}Empty title{% endblock %}</h1> -->
        </header>
        <article>
            <div id="contentC">
            </div>
    <!--         {% block content %}Empty content{% endblock %} -->
        </article>
    </section>
    <div id="spinnerC">
        <img src="/images/pac-yellow-spinner.gif" />
    </div>
    
    <script type="text/javascript" src="/javascripts/jquery171.js"></script>
    <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/kaiser.js"></script>
</body>
</html>

